*{
    margin:0;
    padding: 0;
}

.form-container{  
    width: 300px;   
    margin: auto;    
    padding: 60px 30px;  
    background: #df864b;  
    border-radius: 15px ;  
    position: relative;
}  

.user-img
{
    background: url('user.png') no-repeat;
    width: 70px;
    height: 70px;
    background-size: 100%;
    border-radius: 50px;
    position: absolute;
    top: -40px;
    left: 140px;
}

body  
{  
    background-color:#6abadeba;  
    font-family: 'Arial';
    padding: 10vh;  
}  

h2
{  
    text-align: center;  
    color: #295ca0;  
    padding: 10px;  
    margin-bottom: 25px;
    font-size: 40px;
}  

label
{  
    color: #3508ff;  
    font-size: 15px;  
   
}  

#Uname
{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 10px;  
    margin-top: 5px;
}  

#Pass
{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 10px;  
    margin-top: 5px;
}  

#login
{  
    width: 300px;  
    height: 30px;  
    border: none;  
    background-color: rgb(46, 150, 72);
    border-radius: 5px;  
    padding-left: 10px;  
    color: #fff;  
    margin-top: 5px;
}  

span
{  
    color: white;  
    font-size: 15px;  
}  

a
{  
    float: right;  
    font-size: 15px;
    background-color: lightgrey;  
} 

