* {
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    border-bottom: solid 1px #000;
}

h3 {
    font-size: 25px;
    text-align: center;
}* {
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    border-bottom: solid 1px #000;
}

h3 {
    font-size: 25px;
    text-align: center;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: sans-serif;
    justify-content: center;
    justify-items: center;
    width: 60%;
    margin-left: 520px;
    border-radius: 4px;
    font-size: 15px;

    background-image: url('./back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form {
    margin-top: 20px;
    background-color: lavender;
    border: solid 1px;
    width: 700px;
    padding: 10px;
    display: inline-block;

    background-image: url('./back4.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;

}

.tab .btn-tab {
    padding: 5px 30px;
    margin-right: 10px;
    margin-left: 15px;
}

.btn-tab {
    background-color: lightsteelblue;
}

img {
    opacity: 0.5;
}

td [type=radio] {
    margin-right: 10px;
    padding-left: 20px;
    font-size: 8px;
    margin-top: 0px;
}

.details {
    position: relative;
    display: none;
}

.details.active {
    display: block;
}

label {
    font-size: 17px;
    padding: 30px 40px;
    padding-left: 20px;
    margin-right: 10px;
    width: 200px;
    text-align: left;
    display: inline-block;
    clear: both;
}

label [for=male] {
    padding: 0px;
    margin: 0px;
}

[type=radio] {
    width: 16px;
}

[type=checkbox] {
    width: 16px;
    margin: 0px
}

input {
    border: solid 1.5px black;
    border-radius: 4px;
    background-color: rgb(224, 223, 223);
    padding: 10px 0px;
    width: 40%;
    font-size: 15px;
    margin-top: 30px;
    clear: both;
}

textarea {
    resize: none;
    width: 40%;
    padding: 10px;
    margin-left: 3px;
    margin-top: 0px;
    border: solid 1.5px black;
}

select {
    border: solid 1.5px black;
    background-color: rgb(224, 223, 223);
    border-radius: 4px;
    padding: 10px;
    width: 40%;
    font-size: 15px;
}

.details {
    display: none;
    padding: 5px 10px;
}

.btn-prev,
.btn-nxt {
    margin-top: 20px;
    padding: 5px 15px;
    margin-right: 10px;
    background-color: lavender;
}

#terms {

    margin-bottom: 20px;
    display: inline-block;
}

small {
    padding-bottom: 40px;
    padding-left: 100px;
    position: relative;
    float: left;
}

.btn-submit {
    float: right;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: lightskyblue;

}

.active {
    display: block;
}

span {
    color: red;
    font-size: small;
    display: inline-block;
    width: 200px;
    text-align: left;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: sans-serif;
    width: 100%;
    padding: 0px 380px;
    border-radius: 4px;
    font-size: 15px;

    background-image: url('./back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

textarea {
    resize: none;
    width: 50%;
    padding: 10px;
    margin-left: 50px;
    margin-top: 0px;
    border: solid 1.5px black;
}

.form {
    margin-top: 20px;
    background-color: lavender;
    border: solid 1px;
    width: 700px;
    padding: 10px;
    margin: 30px 150px;
    display: inline-block;

    background-image: url('./back4.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    
}
img {
    opacity: 0.5;
  }

.details {
    position: relative;
    display: none;
}

.details.active {
    display: block;
}

label {
    font-size: 20px;
    padding: 30px 40px;
    padding-left: 20px;
    display: inline-block;
}

[type=radio] {
    width: 16px;
    padding-left: 200px;
}

[type=checkbox] {
    width: 16px;
    margin: 0px
}

input {
    border: solid 1.5px black;
    border-radius: 4px;
    background-color: rgb(224, 223, 223);
    padding: 10px 0px;
    width: 50%;
    font-size: 15px;
    margin-top: 30px;
}

select {
    border: solid 1.5px black;
    background-color: rgb(224, 223, 223);
    border-radius: 4px;
    padding: 10px;
    width: 50%;
    font-size: 15px;
}

.details {
    display: none;
    padding: 5px 10px;
}

.btn-prev,
.btn-nxt {
    margin-top: 10px;
    padding: 5px 15px;
    margin-right: 10px;
    background-color: aliceblue;
}

#terms {

    margin-bottom: 20px;
    display: inline-block;
}

small {
    padding-bottom: 40px;
    padding-left: 100px;
    position: relative;
    float: left;
}

#step6 {
    float: right;
    margin-top: 60px;
    margin-left: 450px;
    margin-bottom: 0px;
    padding: 5px 15px;
    background-color: lightskyblue;

}

.step-active {
    display: block;
}

span {
    color: red;
    font-size: small;
    display: inline-block;
}
